In [1]:
import pandas as pd

In [3]:
e_scooters_in_traffic = pd.read_csv("e_scooters_in_traffic.csv")

In [5]:
e_scooter_accidents = pd.read_csv("e_scooter_accidents.csv", encoding="latin-1")

In [7]:
e_scooter_daily_rides = pd.read_csv("e_scooter_daily_rides.csv", encoding = "latin-1")

In [9]:
cykelpassager_citysnittet = pd.read_csv("cykelpassager_citysnittet.csv", encoding = "latin-1")

# EDA

In [12]:
e_scooters_in_traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          438 non-null    object
 1   Sign          438 non-null    object
 2   Measure area  438 non-null    object
 3   Date          438 non-null    object
 4   Year          438 non-null    int64
 5   Value         438 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 20.7+ KB

In [14]:
e_scooters_in_traffic["Measure area"].unique()

array(['Antal fordon manuellt', 'Antal fordon', 'Resor per dag'],
      dtype=object)

In [16]:
e_scooters_in_traffic.columns

Index(['Name', 'Sign', 'Measure area', 'Date', 'Year', 'Value'], dtype='object')

In [17]:
e_scooter_daily_rides["Date"] = pd.to_datetime(e_scooter_daily_rides["Date"])

In [20]:
e_scooter_accidents["Date"] = pd.to_datetime(e_scooter_accidents["Date"])

In [22]:
cykelpassager_citysnittet["Date"] = pd.to_datetime(cykelpassager_citysnittet["Date"])

In [23]:
e_scooters_in_traffic["Date"] = pd.to_datetime(e_scooters_in_traffic["Date"])

In [24]:
e_scooters_in_traffic["Value"] = e_scooters_in_traffic["Value"].astype("int64")

In [25]:
e_scooters_in_traffic["Measure area"] =  e_scooters_in_traffic["Measure area"].replace({"Antal fordon manuellt":"Antal fordon"})

In [26]:
e_scooters_in_daily_traffic = e_scooters_in_traffic.loc[e_scooters_in_traffic["Measure area"] == "Resor per dag"]

In [27]:
e_scooters_in_traffic = e_scooters_in_traffic.drop(e_scooters_in_traffic.loc[e_scooters_in_traffic["Measure area"] == "Resor per dag"].index)

In [28]:
e_scooters_in_daily_traffic["Measure area"].unique()

array(['Resor per dag'], dtype=object)

In [29]:
e_scooters_in_daily_traffic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201 entries, 237 to 437
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          201 non-null    object
 1   Sign          201 non-null    object
 2   Measure area  201 non-null    object
 3   Date          201 non-null    datetime64[ns]
 4   Year          201 non-null    int64
 5   Value         201 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 11.0+ KB

In [30]:
e_scooters_in_traffic

,Name,Sign,Measure area,Date,Year,Value
0,Antal elsparcyklar i trafik,TEMA.7.2.10,Antal fordon,2018-08-31,2018,300
1,Antal elsparcyklar i trafik,TEMA.7.2.10,Antal fordon,2018-09-30,2018,450
2,Antal elsparcyklar i trafik,TEMA.7.2.10,Antal fordon,2018-10-31,2018,800
3,Antal elsparcyklar i trafik,TEMA.7.2.10,Antal fordon,2018-11-30,2018,600
4,Antal elsparcyklar i trafik,TEMA.7.2.10,Antal fordon,2018-12-31,2018,200
...,...,...,...,...,...,...
232,Antal elsparcyklar i trafik,TEMA.7.2.10,Antal fordon,2023-10-23,2023,8904
233,Antal elsparcyklar i trafik,TEMA.7.2.10,Antal fordon,2023-10-30,2023,8800
234,Antal elsparcyklar i trafik,TEMA.7.2.10,Antal fordon,2023-11-06,2023,8712
235,Antal elsparcyklar i trafik,TEMA.7.2.10,Antal fordon,2023-11-13,2023,8472
236,Antal elsparcyklar i trafik,TEMA.7.2.10,Antal fordon,2023-11-20,2023,8074

In [31]:
monthly_sums = (
    e_scooters_in_traffic
    .groupby([e_scooters_in_traffic["Date"].dt.to_period("M"),
              e_scooters_in_traffic["Measure area"]])["Value"]
    .median()
    .reset_index()
)

monthly_sums

       Date  Measure area   Value
0   2018-08  Antal fordon   300.0
1   2018-09  Antal fordon   450.0
2   2018-10  Antal fordon   800.0
3   2018-11  Antal fordon   600.0
4   2018-12  Antal fordon   200.0
..      ...           ...     ...
58  2023-07  Antal fordon  9858.0
59  2023-08  Antal fordon  9973.0
60  2023-09  Antal fordon  9255.0
61  2023-10  Antal fordon  8904.0
62  2023-11  Antal fordon  8472.0

[63 rows x 3 columns]

In [32]:
monthly_sums.to_excel(
    r"C:\Users\sugan\OneDrive\Desktop\Hyper_Island\e_scooters\output\Antal_fordon.xlsx",
    index=False
)

In [33]:
monthly_sums_Dec = monthly_sums[monthly_sums["Date"].dt.month == 12]
monthly_sums_Dec

       Date  Measure area   Value
4   2018-12  Antal fordon   200.0
15  2019-12  Antal fordon  5050.0
27  2020-12  Antal fordon  8854.0
39  2021-12  Antal fordon  9281.0
51  2022-12  Antal fordon  5466.0

# e_scooter_daily_rides

In [35]:
e_scooter_daily_rides

,Name,Sign,Measure area,Date,Year,Value
0,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Totalt,2019-12-31,2019.0,4082
1,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Sturegatan,2019-12-31,2019.0,498
2,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Nybrogatan,2019-12-31,2019.0,174
3,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Barnhusbron,2019-12-31,2019.0,156
4,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Dalagatan,2019-12-31,2019.0,178
...,...,...,...,...,...,...
81,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Vasagatan,2023-12-31,2023.0,904
82,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Kungsbron,2023-12-31,2023.0,730
83,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Klarabergsviadukten,2023-12-31,2023.0,686
84,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Klara Mälarstrand,2023-12-31,2023.0,716
85,Total,NaN,NaN,NaT,NaN,51180

In [36]:
e_scooter_daily_rides["Year"].dtype

dtype('float64')

In [37]:
e_scooter_daily_rides[e_scooter_daily_rides["Measure area"] == "Totalt"]

,Name,Sign,Measure area,Date,Year,Value
0,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Totalt,2019-12-31,2019.0,4082
17,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Totalt,2020-12-31,2020.0,2630
34,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Totalt,2021-12-31,2021.0,5170
51,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Totalt,2022-12-31,2022.0,7344
68,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Totalt,2023-12-31,2023.0,6364

In [38]:
e_scooter_daily_rides["Year"] = e_scooter_daily_rides["Year"].astype("Int64")

In [39]:
yearly_sum = e_scooter_daily_rides.loc[e_scooter_daily_rides["Measure area"] == "Totalt"]

In [40]:
yearly_sum

,Name,Sign,Measure area,Date,Year,Value
0,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Totalt,2019-12-31,2019,4082
17,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Totalt,2020-12-31,2020,2630
34,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Totalt,2021-12-31,2021,5170
51,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Totalt,2022-12-31,2022,7344
68,Elsparkcyklar - passager per dygn,TEMA.7.2.9,Totalt,2023-12-31,2023,6364

In [45]:
yearly_sum.to_excel(
    r"C:\Users\sugan\OneDrive\Desktop\Hyper_Island\e_scooters\output\passanger_per_dygn.xlsx",
    index=False
)

# cykelpassager_citysnittet

In [62]:
cykelpassager = cykelpassager_citysnittet[
    (cykelpassager_citysnittet["Year"].between(2019, 2023, inclusive="left")) 
    & (cykelpassager_citysnittet["Measure area"] == "Årsvärden, manuella mätningar")
]

In [63]:
cykelpassager

,Name,Sign,Measure area,Date,Year,Value
20,Cykelpassager Citysnittet,TEMA.7.2.3,"Årsvärden, manuella mätningar",2019-12-31,2019,72400
21,Cykelpassager Citysnittet,TEMA.7.2.3,"Årsvärden, manuella mätningar",2020-12-31,2020,65200
22,Cykelpassager Citysnittet,TEMA.7.2.3,"Årsvärden, manuella mätningar",2021-12-31,2021,52840
23,Cykelpassager Citysnittet,TEMA.7.2.3,"Årsvärden, manuella mätningar",2022-12-31,2022,67080

In [64]:
cykelpassager.to_excel(
    r"C:\Users\sugan\OneDrive\Desktop\Hyper_Island\e_scooters\output\cykelpassager.xlsx",
    index=False
)

# e_scooter_accidents

In [68]:
accidents = e_scooter_accidents[e_scooter_accidents["Year"].between(2019,2023)]

In [69]:
accidents = accidents.drop(accidents[accidents["Measure area"] == "Totalt"].index)

In [71]:
accidents

,Name,Sign,Measure area,Date,Year,Value
14,Skadade personer per trafikantslag,TEMA.7.7.8,Fotgängare,2019-12-31,2019,1242
15,Skadade personer per trafikantslag,TEMA.7.7.8,Fotgängare,2020-12-31,2020,576
16,Skadade personer per trafikantslag,TEMA.7.7.8,Fotgängare,2021-12-31,2021,870
17,Skadade personer per trafikantslag,TEMA.7.7.8,Fotgängare,2022-12-31,2022,1389
18,Skadade personer per trafikantslag,TEMA.7.7.8,Fotgängare,2023-12-31,2023,1512
33,Skadade personer per trafikantslag,TEMA.7.7.8,Cykel,2019-12-31,2019,965
34,Skadade personer per trafikantslag,TEMA.7.7.8,Cykel,2020-12-31,2020,1065
35,Skadade personer per trafikantslag,TEMA.7.7.8,Cykel,2021-12-31,2021,823
36,Skadade personer per trafikantslag,TEMA.7.7.8,Cykel,2022-12-31,2022,1028
37,Skadade personer per trafikantslag,TEMA.7.7.8,Cykel,2023-12-31,2023,1078
38,Skadade personer per trafikantslag,TEMA.7.7.8,Elcykel,2021-12-31,2021,60
39,Skadade personer per trafikantslag,TEMA.7.7.8,Elcykel,2022-12-31,2022,110
40,Skadade personer per trafikantslag,TEMA.7.7.8,Elcykel,2023-12-31,2023,121
41,Skadade personer per trafikantslag,TEMA.7.7.8,Elsparkcykel,2021-12-31,2021,342
42,Skadade personer per trafikantslag,TEMA.7.7.8,Elsparkcykel,2022-12-31,2022,375
43,Skadade personer per trafikantslag,TEMA.7.7.8,Elsparkcykel,2023-12-31,2023,284
58,Skadade personer per trafikantslag,TEMA.7.7.8,MC,2019-12-31,2019,91
59,Skadade personer per trafikantslag,TEMA.7.7.8,MC,2020-12-31,2020,77
60,Skadade personer per trafikantslag,TEMA.7.7.8,MC,2021-12-31,2021,62
61,Skadade personer per trafikantslag,TEMA.7.7.8,MC,2022-12-31,2022,78
62,Skadade personer per trafikantslag,TEMA.7.7.8,MC,2023-12-31,2023,65
77,Skadade personer per trafikantslag,TEMA.7.7.8,Personbil,2019-12-31,2019,923
78,Skadade personer per trafikantslag,TEMA.7.7.8,Personbil,2020-12-31,2020,658
79,Skadade personer per trafikantslag,TEMA.7.7.8,Personbil,2021-12-31,2021,833
80,Skadade personer per trafikantslag,TEMA.7.7.8,Personbil,2022-12-31,2022,802
81,Skadade personer per trafikantslag,TEMA.7.7.8,Personbil,2023-12-31,2023,819
96,Skadade personer per trafikantslag,TEMA.7.7.8,Lastbil (tung och lätt),2019-12-31,2019,92
97,Skadade personer per trafikantslag,TEMA.7.7.8,Lastbil (tung och lätt),2020-12-31,2020,68
98,Skadade personer per trafikantslag,TEMA.7.7.8,Lastbil (tung och lätt),2021-12-31,2021,81
99,Skadade personer per trafikantslag,TEMA.7.7.8,Lastbil (tung och lätt),2022-12-31,2022,56
100,Skadade personer per trafikantslag,TEMA.7.7.8,Lastbil (tung och lätt),2023-12-31,2023,66
115,Skadade personer per trafikantslag,TEMA.7.7.8,Buss,2019-12-31,2019,58
116,Skadade personer per trafikantslag,TEMA.7.7.8,Buss,2020-12-31,2020,23
117,Skadade personer per trafikantslag,TEMA.7.7.8,Buss,2021-12-31,2021,42
118,Skadade personer per trafikantslag,TEMA.7.7.8,Buss,2022-12-31,2022,44
119,Skadade personer per trafikantslag,TEMA.7.7.8,Buss,2023-12-31,2023,46
134,Skadade personer per trafikantslag,TEMA.7.7.8,Moped,2019-12-31,2019,94
135,Skadade personer per trafikantslag,TEMA.7.7.8,Moped,2020-12-31,2020,58
136,Skadade personer per trafikantslag,TEMA.7.7.8,Moped,2021-12-31,2021,102
137,Skadade personer per trafikantslag,TEMA.7.7.8,Moped,2022-12-31,2022,126
138,Skadade personer per trafikantslag,TEMA.7.7.8,Moped,2023-12-31,2023,95
153,Skadade personer per trafikantslag,TEMA.7.7.8,Övrigt,2019-12-31,2019,178
154,Skadade personer per trafikantslag,TEMA.7.7.8,Övrigt,2020-12-31,2020,65
155,Skadade personer per trafikantslag,TEMA.7.7.8,Övrigt,2021-12-31,2021,7
156,Skadade personer per trafikantslag,TEMA.7.7.8,Övrigt,2022-12-31,2022,10
157,Skadade personer per trafikantslag,TEMA.7.7.8,Övrigt,2023-12-31,2023,6

In [ ]:
accidents.to_excel(
    r"C:\Users\sugan\OneDrive\Desktop\Hyper_Island\e_scooters\output\accidents.xlsx",
    index=False
)